
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.topnav strong{
  font-size: 27px;
  color: #26282B;
  font-weight: lighter;

}
.topnav {
  font-size: 14px;
  color: #3A4750;
  border-color: white;
  background-color: #f8f8f8;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: -3px;
}

.topnav h1 {
  padding-top: 23px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: bold;

}

.topnav a {
  color: #55acee;
  font-style: normal;
  font-size: 14px;
  font-weight: lighter;
}
.canvas {
  height: 100%;
  width: auto;
  opacity: 1;
  background-image: linear-gradient(to right, #9BDF22, #08AEBA);
}

.controlBtns {
  position: absolute;
  bottom: 10%;
  padding-left: 5%;
}

.controlBtns .btn {
  background-color: #ffffff;
  color: #26282B;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 2px;

}

.alert {
  position: absolute;
  top: 35%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  right: 10%;
}
.alert-success {
  border-color: white;
  background-color: #ffffff;
  color: black;
  border-radius: 2px;
}

.code {
  font-family: monospace;
}

#leftHexCode {
  top: 110px;
  left: 3%;
  position: absolute;
  background: #ffffff;
  border-radius: 2px;
  text-align: center;
  width: 150px;
  padding-bottom: 100px;

}
#rightHexCode {
  top: 110px;
  right: 3%;
  position: absolute;
  background: #ffffff;
  border-radius: 2px;
  text-align: center;

  width: 150px;
  padding-bottom: 100px;

}

#leftHexCode h2 {
  color: #26282B;
  font-weight: 900;
  font-size: 23px;
}


#rightHexCode h2 {
  color: #26282B;
  font-weight: 900;
  font-size: 23px;

}

#leftSwatch {
  width: 130px;
  height: 50px;
  background-color: #f8f8f8;
  position: absolute;
  top: 110px;
  left: 3%;
  margin-left: 10px;
  margin-top: 62px;
  border-width: 0px;
  cursor: pointer;
}


#rightSwatch {
  width: 130px;
  height: 50px;
  background-color: #f8f8f8;
  position: absolute;
  top: 110px;
  right: 3%;
  margin-right: 10px;
  margin-top: 62px;
  border-width: 0.5px;
  cursor: pointer;

}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

button:focus {
  outline: 0 !important;
}


.leftToggle {
  position: absolute;;
  top: 225px;
  left: 3%;
  margin-left: 0px;
  padding-left: 62px;
  padding-top: 6px;
  cursor: pointer;
}

.rightToggle {
  position: absolute;;
  top: 225px;
  right: 3%;
  margin-right: 0px;
  padding-left: 63px;
  padding-top: 6px;
  cursor: pointer;

}

.fa-unlock {
  color: #808080	;
}
.fa-lock {
  color: #26282B;
}

.heading {
  padding-top: 90px;
  padding-bottom: 95px;
}

.heading h2 {
  color: black;
  font-size: 38px;
  padding-bottom: 30px;
  font-weight: lighter;
  color: #8c8c8c;

}
.explanation {
  margin-top: 25px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: -50px;
  padding-bottom: 60px;
}

.banner {
  background: #2dd7ce; /* fallback for unsupported browsers */
  background: -webkit-linear-gradient(to right, rgb(45, 215, 206), rgb(26, 158, 208));
  background: linear-gradient(to right, rgb(45, 215, 206), rgb(26, 158, 208));

}
.banner h2 {
  color: white;
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: lighter;
  font-size: 38px;

}

.future {
  padding-bottom: 75px;]
  color: #404040;

}
.future p {
  font-size: 18px;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 5px;
  color: #404040;
}

.future h2 {
  color: black;
  font-size: 38px;
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: lighter;
  text-align: center;
  color: #8c8c8c;

}
#twitterLogo {
  padding-bottom: 20px;
  margin-bottom: 60px;
  cursor: pointer;
  height: 200px;
}

.share {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 16px;
}
.share a {
  font-style: normal;
  font-weight: bold;
  color: #55acee;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .explanation {
    margin-left: 85px;
    margin-right: 85px
  }
}

@media (max-width: 627px) {
  #leftHexCode {
    width: 134px;
  }
  #leftSwatch {
    width: 114px;
  }
  #rightSwatch {
    width: 114px;
  }
  .leftToggle {
    margin-left: -6px;
    width: 134px;

  }

  .rightToggle {
    margin-right: -6px;
    width: 134px;
  }
  #rightHexCode {
    width: 134px;
  }

  .heading h2 {
    font-size: 25px;
  }

  .banner h2 {
    font-size: 25px;
  }
  .future h2 {
    font-size: 25px;

  }
  .explanation {
    margin-left: 0px;
    margin-right: 0px;
  }

  .future p {
    font-size: 16px;
  }
  #twitterLogo {
    height: 150px;
  }

  .alert {
    top: 20%;
  }
}
