
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.topnav strong{
  font-size: 32px;
  color: #26282B;

}
.topnav {
  font-size: 22px;
  color: #3A4750;
  border-color: white;
  background-color: #f8f8f8;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.topnav h1 {
  padding-top: 6px;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.canvas {
  height: 100%;
  width: auto;
  opacity: 1;
  background-image: linear-gradient(to right, #9BDF22, #08AEBA);
}

.controlBtns {
  position: absolute;
  bottom: 10%;
  padding-left: 5%;

}

.controlBtns .btn {
  background-color: #f8f8f8;
  color: #26282B;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 7px;

}

.alert {
  position: absolute;
  top: 25%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  right: 10%;
}
.alert-success {
  border-color: white;
  background-color: #f8f8f8;
  color: black;
}

.code {
  font-family: monospace;
}

#leftHexCode {
  top: 110px;
  left: 3%;
  position: absolute;
  background: #f8f8f8;
  border-radius: 4px;
  text-align: center;

  width: 180px;
  padding-bottom: 120px;


}
#rightHexCode {
  top: 110px;
  right: 3%;
  position: absolute;
  background: #f8f8f8;
  border-radius: 4px;
  text-align: center;

  width: 180px;
  padding-bottom: 120px;

}
#leftHexCode h2 {
  color: #26282B;
  font-weight: 800;
}


#rightHexCode h2 {
  color: #26282B;
  font-weight: 800;
}

#leftSwatch {
  width: 150px;
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 110px;
  left: 3%;
  margin-left: 15px;
  margin-top: 62px;
  cursor: pointer;
  border-width: 0.5px;
  border-style: solid;
  border-color: #26282B;
}

#rightSwatch {
  width: 150px;
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 110px;
  right: 3%;
  margin-right: 15px;
  margin-top: 62px;
  cursor: pointer;
  border-width: 0.5px;
  border-style: solid;
  border-color: #26282B;

}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

button:focus {
  outline: 0 !important;
}


.toggle {
  background-color: #ddddde;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(255,255,255,.4), 0 1px 0 0 rgba(0,0,0,0.10) inset;
  cursor: pointer;
  width: 100px;
  height: 46px;
  overflow: hidden;
  transition: all .25s linear;
}
.leftToggle {
  position: absolute;;
  top: 235px;
  left: 3%;
  margin-left: 40px;
}

.rightToggle {
  position: absolute;;
  top: 235px;
  right: 3%;
  margin-right: 40px;
}
.toggle .slide {
  color: #818283;
  color: rgba(0,0,0,.15);
  background: #efefef;
  border-radius: 50%;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0 1px 1px 0 rgba(255,255,255,.8) inset;
  transition: all 0.3s cubic-bezier(0.43, 1.3, 0.86, 1);
}
.toggle .slide span{
    text-shadow: 0 1px 1px rgba(255,255,255,.7), 0 0 1px rgba(0,0,0,.3);
}
.toggle .slide:before,
.toggle .slide:after {
  color: #FFF;
  content: "\f09c";
  font-family: fontAwesome;
  font-size: 34px;
  font-weight: 400;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
.toggle .slide:before {
  right: -43px;
  color: #2a2b2c;
  opacity: 0.2;
}
.toggle .slide:after {
  content: "\f023";
  left: -43px;
  color: #00ba00;
}
.toggle.on {
  background: #00dc00;
}
.toggle.on .slide {
  left: 59px;
  color: #00d100;
}
